/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@font-face {
  font-family: myFont;
  src: url("../font/Expansiva.otf");
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*Colors*/
  --hue: 208;
  --sat: 7%;
  --first-color: hsl(var(--hue), var(--sat), 46%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --border-color: hsl(228, 99%, 98%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*Font and typography*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.75rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*Font weight*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*Margins*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*z index*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2.5rem;
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*================ BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ================*/
/*Variables Dark theme*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

/*Button Dark/Light*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.dark-theme .footer {
  background-color: var(--container-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 1rem;
}

.section_title, .section_title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg_img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== LOADER ===============*/
.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.load-img {
  width: 50px;
  animation: animate 3s alternate infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*===============HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .5s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav_link, .nav_logo, .nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_logo img {
  width: 1.75rem;
  margin-right: .5rem;
}

.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/*Active link*/
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/*Change background header*/
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  height: 590px;
  overflow: hidden;
}

.home img {
  position: absolute;
}

/*.home_container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}*/

.home-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 76%;
}

.home-img-2 {
  width: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 8rem;
}

.home-img-3 {
  margin-top: 28rem;
  left: 0;
  right: 0;
}

@media screen and (min-width: 820px) {
  .home-img-2 {
    width: 279px;
    left: 22rem;
    right: 0;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .home-img-3 {
      margin-top: 24rem;
      left: 0;
      right: 0;
  }
}

@media screen and (min-width: 768px) {
  .home-img-2 {
    width: 279px;
    left: 22rem;
    right: 0;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .home-img-3 {
      margin-top: 24rem;
      left: 0;
      right: 0;
  }
}

/*.home-subtitle {
  font-size: var(--big-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
  text-transform: uppercase;
}*/

/*.home_title {
  font-family: myFont;
  font-size: var(--biggest-font-size);
  /*font-weight: var(--font-bold);*/
  /*margin-bottom: var(--mb-0-75);
  /*text-transform: uppercase;*/
/*}*/

/*.home_description {
  margin-bottom: var(--mb-2);
}*/

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 1.5rem;
  /*border-radius: 3rem;*/
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_header {
  display: none;
}

.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}

.button-link:hover {
  background-color: transparent;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  padding: .75rem 1rem;
}

.button_icon {
  font-size: 1.5rem;
}

/*================ ABOUT ================*/

.about_data {
  text-align: center;
}

.about_img {
  margin-top: -1rem;
}

/*================ SERVICES ================*/

.services_container {
  padding-top: 1rem;
}

.services_data {
  display: grid;
  row-gap: 1rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.services_img {
  width: 135px;
  justify-self: center;
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-0-5);
  border-radius: 1rem;
}

.services_description {
  color: var(--title-color);
}

/*=============== COLLEAGUE ===============*/
/*.colleague_img {
  width: 135px;
  height: 135px;
  justify-self: center;
  margin-bottom: var(--mb-0-5);
  border-radius: 50%;
}*/

/*=============== GALLERY ===============*/
.wrapper {
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background: var(--title-color);
  color: var(--container-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 300px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
  /*border-radius: 1rem;*/
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

/*.gallery-container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 
                'img-1 img-2 img-3 img-3'
                'img-1 img-5 img-5 img-4'
                'img-7 img-8 img-8 img-6';
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  border-radius: .75rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  color: var(--first-color);
  font-size: 1.5rem;
  position: relative;
  z-index: var(--z-fixed);
  padding: 1rem 2rem;
  border: 2px solid var(--first-color);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--first-color-alt);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("../img/gallery1-img.svg");
}

.img-2 {
  grid-area: img-2;
  background-image: url("../img/gallery2-img.svg");
}

.img-3 {
  grid-area: img-3;
  background-image: url("../img/gallery3-img.svg");
}

.img-4 {
  grid-area: img-4;
  background-image: url("../img/gallery4-img.svg");
}

.img-5 {
  grid-area: img-5;
  background-image: url("../img/gallery5-img.svg");
}

.img-6 {
  grid-area: img-6;
  /*min-height: 51.5rem;*/
  /*background-image: url("../img/gallery6-img.svg");
}/*

.img-7 {
  grid-area: img-7;
  background-image: url("../img/gallery7-img.svg");
}

.img-8 {
  grid-area: img-8;
  background-image: url("../img/gallery8-img.svg");
}

@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas: 
                'img-1 img-1 img-2 img-2'
                'img-1 img-1 img-3 img-3'
                'img-4 img-4 img-5 img-5'               
                'img-6 img-7 img-7 img-7'
                'img-8 img-8 img-8 img-8';
  }

  .image-gallery a {
    height: 20rem;
  }

  .img-1 {
    min-height: 41.5rem;
  }

  .img-6 {
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas: 
                'img-1 img-1 img-1 img-1'
                'img-2 img-2 img-2 img-2'
                'img-3 img-3 img-3 img-3'               
                'img-4 img-4 img-4 img-4'
                'img-5 img-5 img-5 img-5'
                'img-6 img-6 img-6 img-6'               
                'img-7 img-7 img-7 img-7'
                'img-8 img-8 img-8 img-8';
  }

  .image-gallery a,
  .img-1,
  .img-6 {
    min-height: 15rem;
    height: 15rem;
  }
} /*

/*=============== CONTACT ===============*/
.contact_container {
  padding-bottom: 3rem;
}

.contact_description {
  text-align: center;
}

.contact_content {
  row-gap: .75rem;
}

.contact_address {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.contact_information {
  font-weight: initial;
  color: var(--text-color);
}

.contact-title {
  font-size: var(--normal-font-size);
  padding-bottom: 1rem;
}

.contact-button {
  margin-top: .5rem;
}

.value-accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value-accordion-item {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}

.value-accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value-accordion-title {
  font-size: var(--small-font-size);
}

.value-accordion-arrow {
  display: inline-flex;
  background-color: var(--title-color);
  padding: 0.25rem;
  color: var(--container-color);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}

.value-accordion-arrow i {
  transition: 0.4s;
}

.value-accordion-description {
  font-size: var(--smaller-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;
}

.value-accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/* Rotate icon and add shadows */
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .value-accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .value-accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .value-accordion-arrow i {
  transform: rotate(-180deg);
}


/*=============== FOOTER ===============*/
.footer {
  background-color: #dee2e6;
  padding-bottom: 2rem;
}

.footer_container {
  row-gap: 2rem;
}

.footer_logo, .footer_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.footer_logo {
  display: inline-block;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.footer_description, .footer_link {
  font-size: var(--small-font-size);
}

.footer_links {
  display: grid;
  row-gap: .5rem;
}

.footer_link {
  color: var(--title-color);
}

.footer_social {
  display: flex;
  column-gap: 1.5rem;
}

.footer_social-link {
  font-size: 1.25rem;
  color: var(--title-color);
}

.footer_copy {
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color);
  opacity: 1;
}

.scrollup_icon {
  font-size: 1.25rem;
  color: var(--container-color);
}

/*Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
/*For small devices*/
@media screen and (max-width: 360px) {
  .home-img {
    width: 360px;
  }

  .section {
    padding: 3.5rem 0 1rem;
  }
  .services_img {
    width: 100px;
  }
}

/*For medium devices*/
@media screen and (min-width: 576px) {
  .svg_img {
    width: 100%;
  }
  .section_title-center {
    text-align: initial;
  }
  .home_container,
  .about_container,
  .services_container,
  .contact_container,
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home_img {
    order: 1;
  }
  .home_container,
  .about_container,
  .contact_container {
    align-items: center;
  }
  .about_data,
  .contact_description {
    text-align: initial;
  }
  .about_img {
    order: -1;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav_list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav_toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .home_container {
    padding: 6rem 0 2rem;
  }
}

/*For large devices*/
@media screen and (min-width: 968px) {
  .button_header {
    display: block;
  }
  .svg_img {
    width: 330px;
  }
  .about_container,
  .contact_container {
    column-gap: 6rem;
  }
  .services_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact_container {
    grid-template-columns: 3fr 2fr 2fr;
  }
  .footer_container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer_social {
    align-items: flex-start;
  }
  .footer_social-link {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home-img-3 {
    width: 600px;
    margin-top: 24rem;
    left: 25rem;
    right: 0;
}

  /*.home-img-1 {
    width: 540px;
  }*/

  .gallery-container {
    padding-top: 2rem;
  }

  .footer_container {
    column-gap: 3rem;
  }

  .scrollup {
    right: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .home-img-2 {
    width: 324px;
    left: 41rem;
    right: 0;
    margin: 0 auto;
    margin-top: 3rem;
}
  .home-img-3 {
    width: 620px;
    margin-top: 25rem;
    left: 41rem;
    right: 0;
  }
  /*.gallery-container {
    padding: 2rem 10rem 1rem;
  }*/
}

@media screen and (min-width: 1920px) {
  .home-img-3 {
    margin-top: 25rem;
    left: 64rem;
    right: 0px;
  }
}

  /* For 2K & 4K resolutions */
  @media screen and (min-width: 2048px) {
    body {
      zoom: 1.5;
    }
  }

  @media screen and (min-width: 3200px) {
    .home-img-3 {
      margin-top: 25rem;
      left: 70rem;
      right: 0px;
    }
  }

  @media screen and (min-width: 3440px) {
    body {
      zoom: 1.6;
    }
  }
  
  @media screen and (min-width: 3840px) {
    body {
      zoom: 2;
    }
  }

  @media screen and (min-width: 5120px) {
    body {
      zoom: 2.6;
    }
  }

  @media screen and (min-width: 6400px) {
    body {
      zoom: 3.3;
    }
  }

  @media screen and (min-width: 7680px) {
    body {
      zoom: 4;
    }
  }

  /* For tall screens on mobiles and desktop */
  @media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
  
    .home-container,
    .home-img-1 {
      height: 640px;
    }
  }
